@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@500&family=Source+Serif+4:opsz@8..60&family=Urbanist&display=swap");

.data-list {
  position: absolute;
  width: 25%;
  height: 92.55vh;
  overflow: auto;
  background-color: whitesmoke;
  z-index: 5;
}
h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
  height: 54.45px;
  font-weight: 900;
  font-size: 24.45px;
  margin: 0;
  color: white;
  font-family: "Urbanist", sans-serif;
}
.data-list ul.list {
  padding: 0 1rem;
  list-style: none;
}
.data-list .data-item {
  margin: 1rem 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 1rem;
}
.data-list li:last-child .data-item {
  border: none;
}
.data-list .data-item a {
  text-decoration: none;
  font-size: 18.45px;
  font-weight: 800;
  color: black;
}
.data-list .data-item p {
  font-size: 15.45px;
  color: #3d3c3c;
}
