.map-container {
  height: 93vh;
  width: 100vw;
  float: right;
}

.mapboxgl-ctrl-group,
.maplibregl-ctrl-group {
  background: whitesmoke;
  font-size: 100px;
}
.mapbox-gl-draw_ctrl-draw-btn {
  height: 38.45px;
  width: 38.45px;
}
.buttonClass {
  font-size: 18.45px;
  width: 14.45%;
  height: 38.45px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 4.45px;
  background-color: #0270df;
  color: white;
  z-index: 1;
  margin-top: 43.45%;
  margin-left: 42vw;
  position: absolute;
  transition-duration: 0.45s;
}

.buttonClass:hover {
  background-color: rgb(23, 139, 247);
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24);
}
.vl {
  border-left: 1px solid black;
  height: 93vh;
  position: absolute;
  left: 25%;
}
