.logo {
  font-size: 24.45px;
  padding: 18.45px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.logo h1 {
  font-family: "Urbanist", sans-serif !important;
}
nav {
  display: flex;
  flex-direction: row;
  height: 7.45vh;
  align-items: center;
  background-color: #f3f3f3;
  z-index: 5;
}
.nav-links {
  display: flex;
  width: 100%;
  justify-content: space-around;
  list-style: none;
  font-size: 16.45px;
  align-items: center;
}
.nav-links .links {
  cursor: pointer;
  font-weight: 450;
}
.nav-links .links:hover {
  transform: scale(1.05);
  color: tomato;
}
.search {
  display: flex;
  width: 18.45%;
}
.search .searchbox {
  border: 1px solid black;
  border-radius: 6.45px;
  width: 188.45px;
  padding: 4.5px;
}
.search .button {
  padding: 4.5px;
  margin: 0px 18.45px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 6.45px;
  background-color: #0270df;
  color: white;
}
.search .button:hover {
  transition: 0.4s;
  background-color: rgb(23, 139, 247);
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24);
}
.line {
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 1;
  width: 100%;
  border-top: 1px solid grey;
}
