.buttonClass {
  font-size: 18.45px;
  width: 20%;
  height: 38.45px;
  border-radius: 4px;
  padding: 4.45px;
  background-color: green;
  color: white;
  z-index: 1;
  margin-top: 43.45%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: auto;
  bottom: 1%;
  left: 45%;
  border-radius: 8px;
  border: none;
}

.buttonClass:hover {
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24);
}
